<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
   <link rel="stylesheet" href="style.css"> 
</head>

<body>
  <!-- headerSection Start -->

  <header class="headerSection" id="header">
    <div class="container">
           

            <div class="row">
                <div class="col-md-5">
                    <div class="logo ">
                        <a href="#"><img src="https://i.ibb.co/kHsfMhD/ezgif-3-db99e0288d75.png"></a>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="menu ">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Work</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Contact</a></li>
                            
                        </ul>
                    </div>
                </div>
            </div>
    </div>
  </header>

  <!-- HeaderSection End -->

  <!-- BannerSection Start -->

  <section class="bannerSection" id="banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text">
                        <h3>I am Morgan Freeman</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum eos facere consectetur laborum laudantium facilis odit repellat ipsa tenetur dolorum? Lorem ipsum dolor sit amet.</p>
                        <a href="#" class="btn1">Large button</a>
                    </div>
                </div>
            </div>
        </div>
  </section>
    <!-- BannerSection End -->

  <!-- TeamSection Start -->

  <section class="teamSection" id="team">
        <div class="container">
               <div class="row">
                <div class="col-sm-12">
                    <div class="title mb-5">
                        <h1>Meet Our Team</h1>
                    </div>
                </div>
               </div>

               <div class="row">
                <div class="col-sm-4">
                    <div class="teamMember mt-3">
                        <img src="https://i.ibb.co/pJmh1Fp/222222.jpg">
                        <h4 class="pt-2">I am Jece</h4>
                        <p class="pb-3">Some quick example text to build on the card title and make up the bulk of the bulk card's content</p>
                        <a href="#" class="btn2">Go Somewhere</a>
                    </div>
                </div>
               

               
                <div class="col-sm-4">
                    <div class="teamMember mt-3">
                        <img src="https://i.ibb.co/R648bgL/download.jpg">
                        <h4 class="pt-2">I am harry</h4>
                        <p class="pb-3">Some quick example text to build on the card title and make up the bulk of the bulk card's content</p>
                        <a href="#" class="btn2">Go Somewhere</a>
                    </div>
                </div>
               

             
                <div class="col-sm-4">
                    <div class="teamMember mt-3">
                        <img src="https://i.ibb.co/cy7RS3Z/images.jpg" alt="images" >
                        <h4 class="pt-2">I am Rock</h4>
                        <p class="pb-3">Some quick example text to build on the card title and make up the bulk of the bulk card's content</p>
                        <a href="#" class="btn2">Go Somewhere</a>
                    </div>
                </div>
               </div>
        </div>
    </section>

    <!-- TeamSection End -->

    <!-- aboutSection Start -->
    <section class="aboutSection" id="about">
        <div class="container">
               <div class="row">
                <div class="col-sm-12">
                    <div class="title text-center">
                        <h1>About Us</h1>
                    </div>
                </div>
               </div>
                <div class="row">
                    <div class="col-sm-6">
                       <div class="row">
                            <div class="col-sm-6">
                                <div class="imgprofile">
                                    <img src="https://i.ibb.co/k4DY6vw/testimonial-2.jpg" alt="testimonial-2">
                                   </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="textabout mt-1">
                                        <ul>
                                            <li>Name: Morgan Freeman</li>
                                            <li>Profile: Full stack developer</li>
                                            <li>Email: contact@example.com</li>
                                            <li>Phone: (617) 557-0089</li>
                                        </ul>
                                   </div>
                            </div>
                       </div>
                       <p class="text1">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus rerum architecto perferendis? Quos aperiam sed natus exercitationem libero quaerat molestias, architecto rerum laboriosam quisquam eum odio sequi. Nulla repudiandae quam temporibus mollitia quo in blanditiis recusandae vero. Facere deleniti numquam eum esse placeat, saepe quidem unde illum magnam possimus nam.</p>
                    </div>
                    <div class="col-sm-6">
                        <div class="aboutText">
                            <h3>About Me</h3>
                            <p class="text2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam exercitationem soluta maiores repudiandae expedita architecto, facere natus consequuntur nemo porro ipsam ut dolore tempore officiis totam dolorum, ?</p>
                            <p class="text3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam exercitationem soluta maiores repudiandae expedita architecto, facere natus consequuntur nemo porro ipsam ut dolore tempore officiis totam dolorum, </p>
                            <p class="text4 lead ">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam exercitationem soluta maiores repudiandae expedita architecto, facere natus consequuntur nemo porro ipsam ut dolore tempore officiis totam dolorum,</p>
                        </div>
                    </div>
                </div>
            </div>
            </section>

            <!-- AboutSection End -->

            <!-- ContactSection Start -->
            <section class="contact pb-5" id="contact">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <h1 class="text5 text-center my-5">
                                Contact Us
                            </h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="google-map">
                              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d14578.410486667959!2d88.9892437!3d24.00980565!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbd!4v1690702502261!5m2!1sen!2sbd" width="100%" height="550" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="contact-form">
                              <form action="#">
                                    <label for="text">Name:</label>                                
                                  <input type="text" class="form-control mb-1" placeholder="Name">
                                  <label for="email">Email:</label>
                                  <input type="email" class="form-control mb-1" placeholder="Email">
                                  <label for="text">Subject:</label>
                                  <input type="text" class="form-control mb-1" placeholder="Subject">
                                  <label for="name">Massage:</label>
                                  <textarea name="" id="" cols="30" class="form-control mb-1" rows="8"></textarea>
                                  <input type="submit" value="Submit form" class="btn btn-primary mt-4">
                              </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- ContactSection End -->

            <!-- FooterSection Start -->

            <footer class="footerSection bg-primary  text-center text-white">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="footer my-4">
                                    <p>
                                        &copy;Copyright <span>DevFolio.</span>All Rights Reserved
                                    </>
                                    <p>Designsd by BootstrapModel</p>  
                                </div>
                            </div>
                        </div>
                    </div>
            </footer>

            <!-- Footer EndS -->
  	
</body>

</html>