<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.0/css/all.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="responsive.css">
</head>
<body>
    <!-- HeaderSection Start -->
    <header class="headerSection clearfix">
        <div class="fixed-width">
            <div class="menulogo">
                <div class="logo">
                    <a href="#">SOROBINDU</a>
                </div>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Service</a></li>
                    <li><a href="#">Product</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Content</a></li>
                </ul>
            </div>
        </div>
    </header>
    <!-- HeaderSection End -->

    <!-- HeroSection Start -->
    <section class="heroSection">
        <div class="fixed-width">
            <div class="hero">
                <h1>WELCOME TO SOROBINDU</h1>
                <h4>we are a full service integrated creative acadamy</h4>
                <a href="#">Learn More</a>
            </div>
        </div>
    </section>

    <!-- HeroSection End -->

    <!-- ServiceSection Start -->
    <section class="serviceSection">
        <div class="fixed-width">
            <div class="title">
                <h3>Our Services</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum asperiores iure, est culpa aliquam numquam?</p>
            </div>
            <div class="serviceGrid">
                <div class="singleService clearfix">
                    <i class="fa-solid fa-desktop"></i>
                    <h2>Wed Design</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, facilis? Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="singleService clearfix">
                    <i class="fa-solid fa-rocket"></i>
                    <h2>Graphic Design</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, facilis? Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="singleService clearfix">
                    <i class="fa-solid fa-desktop"></i>
                    <h2>App Development</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, facilis? Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="singleService clearfix">
                    <i class="fa-regular fa-lightbulb"></i>
                    <h2>Digital Markating</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, facilis?Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- ServiceSection End -->

    <!-- AAboutSection Start -->
    <section class="aboutSection">
        <div class="fixed-width">
            <div class="title1">
                <h2>About Us</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem voluptatum dolor quibusdam necessitatibus facilis, explicabo laborum nihil </p>
            </div>
            <div class="aboutGrid">
                <div class="aboutimg">
                    <img src="https://i.ibb.co/Fhg6QZT/about.jpg" alt="about">
                </div>
                <div class="abouttext">
                    <div class="singleabouttext">
                        <h2>Who we Are</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, voluptatum! Nulla reprehenderit est deserunt sunt dolorem vel laudantium repellendus quaerat fugit? Reiciendis quo repellendus, ad eligendi est dicta deleniti, dolore inventore odit aut nesciunt voluptate praesentium. Iure quis dolor, dignissimos molestias necessitatibus esse quae, molestiae asperiores iusto maiores vel minima </p>
                    </div>
                    <div class="singleabouttext">
                        <h2>What We Do</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium optio at eos necessitatibus sed itaque officiis porro nesciunt eaque recusandae placeat magnam, vel veritatis dolores, nemo tenetur tempora  .</p>
                    </div>
                    <div class="singleabouttext">
                        <h2>Why Choose Us</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, quae nesciunt. Minima ea quo ad et illo aliquam laudantium asperiores sed ducimus maiores qui excepturi fugiat id aspernatur reiciendis in soluta, recusandae nesciunt! Blanditiis nemo, </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- AboutSection End -->


    <!-- ContactSection Start -->
    <section class="contactSection">
        <div class="fixed-width">
            <div class="title2">
                <h2>Contact Us</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt ea dolorum, doloremque delectus id nulla tempora nostrum quidem.</p>
            </div>
            <div class="contactGrid">
                <div class="singlecontact">
                    <i class="fa-solid fa-location-dot"></i>
                    <ul>
                       <li>Sector:00,Uttara</li>
                       <li>Dhaka-0000, Bangladesh</li> 
                    </ul>
                </div>
                <div class="singlecontact">
                    <i class="fa-solid fa-envelope"></i>
                    <ul>
                       <li>info@company.com</li> 
                    </ul>
                </div>
                <div class="singlecontact">
                    <i class="fa-solid fa-phone"></i>
                    <ul>
                       <li>+8801234567890</li>
                       <li>920393295529</li> 
                    </ul>
                </div>
            </div>
        </div>
    </section>
<!-- ContactSection End -->

<!-- SubfooterSection Start -->
<footer class="subSection">
    <div class="fixed-width">
        <div class="subFooter">
            <ul>
                <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-dribbble"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-github"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
            </ul>
        </div>
    </div>
</footer>

<!-- SubfooterSection End -->

<!-- MainfooterSection Start -->

<footer class="mainFooter">
    <div class="fixed-width">
        <div class="footer">
            <p>Copyright &copy; LFWF. Designed by LFWF Academy</p>
        </div>
    </div>
</footer>

<!-- MainfooterSection End -->

</body>
</html>