@media(max-width: 1326px){
    .fixed-width{
      width:100%;
      max-width: 100%;
      padding: 0 30px;
      box-sizing: border-box;
    }
  }

@media (max-width: 1270px){
    .fixed-width{
       width: 100%;
       max-width: 100%;
       padding: 0 30px;
       box-sizing: border-box;
    }
}


@media(max-width: 1080px){
    .aboutGrid {
        margin-bottom: -4%;
        overflow: hidden;
    }

    .aboutimg img {
        max-width: 100%;
        height: 100%;
        width: auto;
    }

    .aboutimg {
        margin-top: 11%;
    }
}

/* @media(max-width: 950px){
    .singleService {
        margin: 0 1%;
    }

   
} */

@media(max-width: 950px){
    .singleService {
        width: 21%;
        padding: 1px 8px;
        margin: 0 1%;
    }
}


@media(max-width: 850px){
    .singleService {
        width: 25%;
        padding: 1px 7px;
        margin: 0 -1%;
    }
}

@media(max-width: 800px){
    .singleService {
        width: 18%;
        padding: 0px 48px;
        margin: 0px -3%;
    }
}

@media(max-width: 798px){
    .singleService {
        width: 13%;
        padding: 0px 6px;
        margin: 0px 5%;
    }
}

@media(max-width: 755px){
    .singleService {
        width: 52%;
        padding: 5px  12px;
        margin: 0px -3%;
    }
}

@media(max-width: 770px){
    .logo {
        width: 100%;
        text-align: center;
    }

    .menu {
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }


    .hero h1 {
        font-size: 30px;
    }

}

@media(max-width: 730px){
    .singleService {
        width: 97%;
        margin: 3% 1%;
    }
}


@media(max-width:700px){
    .aboutimg img {
        margin-top: 51%;
    }
}


@media(max-width: 590px){
    .singleService {
        width: 100%;
        margin: 3% -2%;
        text-align: center;
    }
}



@media(max-width: 550px){
    .singleService {
        width: 60%;
        margin: 0 20%;
    }

    .menu ul li a {
        margin: 0 11px;
    }
}

@media(max-width: 540px){
    .menu ul li a {
        margin: 0 10px;
    }

    .aboutimg img {
        margin-top: 108%;
    }
}

@media(max-width: 500px){
    .menu ul li a{
        margin: 0 5px;
    }


    .hero h1 {
        font-size: 25px;
    }


    .hero h4 {
        font-size: 15px;
    }

    .singleService {
        width: 79%;
        margin: 10%;
    }

    .aboutimg img {
        margin-top: 130%;
    }
}

@media(max-width:450px){
    .singlecontact {
        width: 36%;
        margin: 0 -11%;
        padding: 0 36px;
    }
}

/* @media(max-width: 400px){
    .menu ul li a {
        margin: 0 5px;
    }
} */