<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>

<body>
<div class="container">
<!-- ======== Header-Section ========= -->
    <header class="header-section">
        <h2>Here is the Menu</h2>
    </header>
    <!-- =========hero-section ========== -->
    <section class="hero-section">
        <img src="https://i.ibb.co/kGWr23Q/pexels-photo-1008000.jpg" alt="pexels-photo-1008000" >
    </section>
<!-- ==================== service-section======================== -->
    <section class="service-section">
      <div class="singel-service1"> 
        <img src="https://i.ibb.co/3TTz3QF/icon-01.png" alt="icon-01" >
        <h4>This is Title</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos eveniet vero dolore, commodi possimus quisquam nihil ab obcaecati minus error consequatur deleniti accusantium, omnis inventore?</p>
      </div>
      <div class="singel-service2">
        <img src="https://i.ibb.co/25p2RJj/icon-02.png" alt="icon-02">
        <h4>This is Title</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos aut similique facere quae doloribus fugiat, id magni, voluptatem tenetur aliquam ea debitis, tempora reiciendis vel.</p>
      </div> 
      <div class="singel-service3">
       <img src="https://i.ibb.co/qY11jdt/icon-03.png" alt="icon-03" >
       <h4>This is Title</h4>
       <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit, tenetur! Natus, nostrum sunt saepe doloremque quas, enim, impedit fugiat ratione sint sapiente accusantium rem tenetur?</p>
      </div>    
    </section>
<!-- ====================== flag-section ========================= -->
    <section class="flag-section">

        <h2>National Flags of Differnt Countries</h2>
        <div class="bangladesh">
            <div class="bangladeshround"></div>
            <h4>Bangladesh</h4>
        </div>

        <div class="england">
            <div class="england1"></div>
            <div class="england2"></div>
            <h4>England</h4>
        </div>
        <div class="japan">
            <div class="japanround"></div>
            <h4>Japan</h4>
        </div>    

        <div class="germany">
         <div class="germany1"></div>
         <div class="germany2"></div>
         <div class="germany3"></div>
        <h4>Germany</h4>   
        </div>
    </section>
<!-- ====================== footer-section======================== -->
    <footer class="footer-section">
        <h4>This is Footer</h4>
    </footer>
</div>
</body>

</html>