*{
    padding: 0;
    margin: 0;
}



/* headerSection */

.img1 {
    position: absolute;
    top: 8%;
    left: 15%;
    transition: .7s;
}


.headerSection {
    background-image: url(./photo-1471879832106-c7ab9e0cee23.jpg);
    position: relative;
    background-repeat: no-repeat;
    height: 500px;
    background-size: cover;
    color: white;
    background-position: bottom;
    background-attachment: fixed;
}

.headerSection .menu {
    position: absolute;
    top: 20px;
    left: 550px;
}

.headerSection .menu ul li {
    display: inline-block;
}


.headerSection .menu ul li a {
    display: inline-block;
    font-style: italic 15px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 20px 20px;
    transition: .7s;
}

.headerSection .menu ul li a:hover{
    color: #ef664d;
}

.headerSection h1 {
    display: inline-block;
    position: absolute;
    top: 51%;
    left: 29%;
    font-size: 45px;
    font-style: italic;
    font-weight: 600;
}

.headerSection h1::before {
    font: var(--fa-font-solid);
    content: ' " ';
    color: #ef664d;
    font-size: 60px;
    position: absolute;
    top: -20%;
    left: 101%;
}

.headerSection h1::after {
    font: var(--fa-font-solid);
    content:  ' " ';
    color: #ef664d;
    font-size: 60px;
    position: absolute;
    top: -20%;
    left: -6%;
}

/* aboutSection */

.aboutSection {
    height: 250px;
    position: relative;
    margin-bottom: 35px;
}

.aboutSection img {
    position: absolute;
    height: 100px;
    border: 2px solid #ff6549;
    top: 46%;
    left: 30%;
}

.aboutSection .about2 {
    position: absolute;
    width: 500px;
    height: 250px;
    top: 20%;
    left: 46%;
}

.aboutSection .about2 h1 {
    margin-bottom: 30px;
    margin-left: 110px;
    font-weight: 400;
}

.aboutSection .about p1 {
    font-family: 'Roboto';
    font-weight: 300;
    line-height: 25px;
}

.aboutSection .about p2{
    font-family: 'Roboto';
    font-weight: 300;
    line-height: 25px;
}



/* serviceSection */

.head {
    text-align: center;
    padding-top: 40px;
    color: #ef664d;
}

.webdesign {
    position: absolute;
    top: 33%;
    left: 20%;
}