.main{
    width: 1000px;
    margin: 0 auto;
}
h1{
    text-align: center;
    background: rgb(100, 100, 50);
    color: #ffff;
    text-decoration: underline;
}

h2{
    text-align: right;
    text-transform: capitalize;
    background: #ddda32;
    text-shadow: 2px 3px #ffff;
    font-size: 40px;
    color: red;
}

h3{
    text-align: center;
    text-transform: uppercase;
    text-decoration: line-through;
    background: rgba(100, 100, 50, .5);
}

.d{
    text-align: center;
    background: rgb(200, 100, 50);
    color: beige;
    text-shadow: 2px 4px #000;
    font-size: 30px;
}

.t{
    background: #eee;
    font-size: 30px;
    text-decoration: line-through;
    font-family: roboto;
    font-style: italic;
    font-weight: 500;
    text-shadow: 2px 1.5px #000;
    word-spacing: 3rem;
}
.e{
    color: rgb(171, 210, 30);
    background-color: rgba(110, 70, 150, .7);
    text-align: center;
}

.f{
    color: rgb(53, 50, 205);
    background: aqua;
    text-decoration: overline;
    margin-bottom: 0;
}

.tt{
    background: #eee;
    color: #000;
    font-size: 50px;
    text-decoration: line-through;
    margin-top: 0;
    font-family: yellowtail;
    line-height: 5rem;
}

h5{
    font-size: 30px;
}

