<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.0/css/all.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!-- HeaderSection -->
    <header class="headerSection">
        <div class="container">
            <div class="menu">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Service</a></li>
                    <li><a href="#">Product</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
    </header>

    <!-- HeaderSection End -->

    <!-- HeroSection Start -->
    <section class="heroSection">
        <div class="container">
            <div class="hero">
               <h4>Created to save your time</h4>
               <h1>Time Planner App</h1> 
               <a href="#" class="btn"><i class="fa-solid fa-play"></i> Google Play</a>
            </div>
        </div>
    </section>
    <!-- HeroSection End -->

    <!-- GallerySection Start -->
    <section class="gallerySection">
        <div class="container">
            <div class="galleryGrid">
                <div class="text">
                  <h2>VIVAMUS FAUCIBUS ALIQUAM</h2>
                  <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde quos fuga error! Illo fugit quibusdam est, nihil obcaecati ut natus.</P>  
                </div>
                <div class="gallery">
                    <div class="imgbox1">
                        <div class="imgInner">
                            <img src="https://i.ibb.co/c1tW5WD/01.jpg">
                        </div>
                    </div>

                    <div class="imgbox2">
                        <div class="imgInner">
                            <img src="https://i.ibb.co/7XX4LTr/post-3.jpg">
                        </div>
                    </div>

                    <div class="imgbox3">
                        <div class="imgInner">
                            <img src="https://i.ibb.co/zF2xz9P/03.jpg" >
                        </div>
                    </div>

                    <div class="imgbox4">
                        <div class="imgInner">
                            <img src="https://i.ibb.co/cwQQ2WG/04.jpg">
                        </div>
                    </div>
                    <div class="imgbox5">
                        <div class="imgInner">
                            <img src="https://i.ibb.co/WHRNVt6/08.jpg">
                        </div>
                    </div>

                    <div class="imgbox6">
                        <div class="imgInner">
                            <img src="https://i.ibb.co/s1nVmGM/post-2.jpg">
                        </div>
                    </div>

                    <div class="imgbox7">
                        <div class="imgInner">
                            <img src="https://i.ibb.co/7XX4LTr/post-3.jpg">
                        </div>
                    </div>

                    <div class="imgbox8">
                        <div class="imgInner">
                            <img src="https://i.ibb.co/rMXJbz9/07.jpg" >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- GallerySection End -->

    <!-- StepSection Start -->
    <section class="stepSection">
        <div class="container">
            <div class="stepGrid">
                <div class="stephead">
                   <h2>Watch a video on how to use our app</h2>
                   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae nulla mollitia minima, ad commodi recusandae eos repellat! Vel odit nulla, ut harum accusantium praesentium ea? Laborum minus ad non fuga! Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum assumenda iusto repudiandae officia deleniti dolore nulla perspiciatis voluptas doloribus nisi? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, veniam. Nihil ex dignissimos voluptatem exercitationem vero odio adipisci? </p> 
                </div>
                <div class="steptext">
                    <div class="step design1">
                        <p>Step1</p>
                    </div>
                    <div class="step design2">
                        <p>Step2</p>
                    </div>
                    <div class="step design3">
                        <p>Step3</p>
                    </div>
                </div>
            
            </div>
        </div>
    </section>

    <!-- StepSection End -->

    <!-- FooterSection Start -->
    <footer class="footerSection">
        <div class="container">
            <div class="footer">
                <h5>Copyrights &copy; 2021 by LFWF Aceademy - All Rights Reserved
                </h5>
            </div>
        </div>
    </footer>
    <!-- FooterSection End -->
    </body>
</html>