<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/all.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!-- HeaderSection Start -->

    <header class="headerSection clear">
        <div class="container">
            <div class="logo left">
                <img src="https://i.ibb.co/gMGGHy8/lfwfred-logo-removebg-preview.png" alt="">
            </div>

            <div class="menu right">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Service</a></li>
                    <li><a href="#">Product</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
    </header>
    <!-- HeaderSection End -->


    <!-- BannerSection Start -->

    <div class="banner-section">
        <div class="container">
            <div class="banner-content text-center">
                <h3>Created to save your time</h3>
                <h2>Time Planner App</h2>
                <a class="default-btn" href="#"> <i class="fa-brands fa-google-play"></i> Google play </a>
                <a class="default-btn" href="#"><i class="fa-brands fa-apple"></i> Apple Store </a>
            </div>
        </div>
    </div>

    <!-- BannerSection End -->

    <!-- PricingSection Start -->
    
    <div class="pricing-table-section">
        <div class="mid-content">
                <div class="section-title text-center">
                    <h2>Start Useing Our App</h2>
                    <p>Set of tools to Seamlessly manage during theirlife Cycle</p>
                </div>

                <div class="pricing-tables clear">
                    <div class="pricing-table-item left">
                            <div class="p-header">
                                <h2>Free</h2>
                                <h4>$ 0 <span>/month</span></h4>
                                <h3>Who is This for?</h3>
                                <p>Free version for Students and Regluar Users</p>
                            </div>
                            <div class="p-content">
                                <ul>
                                    <li><span><i class="fa-regular fa-check"></i></span> Time Tracking</li>
                                    <li><span><i class="fa-regular fa-check"></i></span> Resource Planning</li>
                                    <li><span><i class="fa-regular fa-check"></i></span> Intedrations</li>
                                    <li> <span><i class="fa-solid fa-xmark"></i></span> Task Management</li>
                                    <li> <span><i class="fa-solid fa-xmark"></i></span> Reporting</li>
                                    <li> <span><i class="fa-solid fa-xmark"></i></span> Invoicing</li>
                                </ul>
                                <div class="p-button text-center">
                                    <a href="#" class="default-btn">Get Free Now</a>
                                </div>
                            </div>
                    </div>

                    <div class="pricing-table-item left">
                        <div class="p-header">
                            <h2>User</h2>
                            <h4>$ 10 <span>/month</span></h4>
                            <h3>Who is This for?</h3>
                            <p>This Version for Buisness people Haveing a Tight scheduie</p>
                        </div>
                        <div class="p-content">
                            <ul>
                                <li><span><i class="fa-regular fa-check"></i></span>  Time Tracking</li>
                                <li><span><i class="fa-regular fa-check"></i></span>  Resource Planning</li>
                                <li><span><i class="fa-regular fa-check"></i></span>  Intedrations</li>
                                <li><span><i class="fa-solid fa-xmark"></i></span>  Task Management</li>
                                <li><span><i class="fa-solid fa-xmark"></i></span>  Reporting</li>
                                <li><span><i class="fa-solid fa-xmark"></i></span>  Invoicing</li>
                            </ul>
                            <div class="p-button text-center">
                                <a href="#" class="default-btn">Get Acess Now </a>
                            </div>
                        </div>
                </div>


                <div class="pricing-table-item left">
                    <div class="p-header">
                        <h2>Pro</h2>
                        <h4>$ 15<span>/month</span></h4>
                        <h3>Who is This for?</h3>
                        <p>Maximum Version For Large Companies & good Exprinces</p>
                    </div>
                    <div class="p-content">
                        <ul>
                            <li><span><i class="fa-regular fa-check"></i></span> Time Tracking</li>
                            <li><span><i class="fa-regular fa-check"></i></span> Resource Planning</li>
                            <li><span><i class="fa-regular fa-check"></i></span> Intedrations</li>
                            <li> <span><i class="fa-solid fa-xmark"></i></span> Task Management</li>
                            <li> <span><i class="fa-solid fa-xmark"></i></span> Reporting</li>
                            <li> <span><i class="fa-solid fa-xmark"></i></span> Invoicing</li>
                        </ul>
                        <div class="p-button text-center">
                            <a href="#" class="default-btn">Get Acess Now</a>
                        </div>
                    </div>
            </div>
                </div>
        </div>
</div>

<!-- PricingSection End -->

<!-- TeamSection Start -->
<div class="team-section">
    <div class="container">
        <div class="section-title text-center">
            <h2>Our team is constantly trying for you</h2>
        </div>
        <div class="team-members clear">

            <div class="member left">
                <img src="https://i.ibb.co/511qRLK/team-pic1.jpg" >
                <div class="member-bio">
                    <h4>Jason Doe</h4>
                    <p>Programmer</p>
                </div>
            </div>
            <div class="member left">
                <img src="https://i.ibb.co/0n27TMt/team-pic3.jpg" alt="team-pic3" >
                <div class="member-bio">
                    <h4>Amanda Swon</h4>
                    <p>Programmer</p>
                </div>
            </div>
            <div class="member left">
                <img src="https://i.ibb.co/LC0PQrL/team-pic4.jpg" alt="team-pic4" >
                <div class="member-bio">
                    <h4>Andrew Smith</h4>
                    <p>Programmer</p>
                </div>
            </div>
            <div class="member left">
                <img src="https://i.ibb.co/6tpZc5N/team-pic2.jpg" alt="team-pic2" >
                <div class="member-bio">
                    <h4>Jane Olsen</h4>
                    <p>Programmer</p>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- TeamSectiion End -->

 <!-- Newsletter Start -->

 <div class="newslatter-section p-bg">
    <div class="container">
        <div class="section-title newslatter-title text-center">
            <p>Keep up to date with the latest updates</p>
            <h2>Subscribe to our newsletter</h2>
            <div class="newslatter-from">
                <form action="#">
                    <input type="email" class="default-input" placeholder="E-mail Address"><br>
                    <button class="submit-btn" type="submit">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- NewsletterSection End -->

<!-- SreviceSection Start -->

<section class="serviceSection clear">
    <div class="container">
         <div class="title text-center">
            <h1>Why Choose Us</h1>
         </div>

         <div class="serviceImg left">
            <img src="https://i.ibb.co/X7Kpd26/about-us.jpg" alt="about-us" border="0">
         </div>
         <div class="serviceText right">
            <div class="singleText ">
                <h5> <span>1.</span>Awesome Design</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea nulla expedita magnam quibusdam cumque repellendus voluptatum similique ullam quod id?  </p>
            </div>
            <div class="singleText">
                <h5> <span>2.</span>Awesome Design</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea nulla expedita magnam quibusdam cumque repellendus voluptatum similique ullam quod id? </p>
            </div>
            <div class="singleText">
                <h5> <span>3.</span>Awesome Design</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea nulla expedita magnam quibusdam cumque repellendus voluptatum similique ullam quod id?</p>
            </div>
            <div class="singleText">
                <h5> <span>4.</span>Awesome Design</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea nulla expedita magnam quibusdam cumque repellendus voluptatum similique ullam quod id? </p>
            </div>
         </div>
    </div>
</section>

<!-- ServiceSection End -->

<!-- TestimonialSection Start -->

<section class="testimonial-section p-bg">
    <div class="container">
        <div class="section-title newslatter-title text-center">
            <p>Feedback from our users</p>
            <h2> What do users say about our application</h2>
        </div>
        <div class="testimonial-items clear">

            <div class="i-item left">
                <div class="t-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis perspiciatis vero accusantium excepturi aperiam eius sit quis nobis</p>
                </div>
                <div class="t-user-img clear">
                    <img src="https://i.ibb.co/pfTjv0F/face1.jpg" alt="">
                    <div class="t-user-bio">
                        <h4>Jason Doe</h4>
                        <span>User</span>
                    </div>
                </div>
            </div>
            

            <div class="i-item left">
                <div class="t-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis perspiciatis vero accusantium excepturi aperiam eius sit quis nobis</p>
                </div>
                <div class="t-user-img">
                    <img src="https://i.ibb.co/dBZRkk6/face3.jpg" alt="">
                    <div class="t-user-bio">
                        <h4>Jason Doe</h4>
                        <span>User</span>
                    </div>
                </div>
            </div>
            

            <div class="i-item left">
                <div class="t-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis perspiciatis vero accusantium excepturi aperiam eius sit quis nobis</p>
                </div>
                <div class="t-user-img">
                    <img src="https://i.ibb.co/Ky7bG1T/face4.jpg" alt="">
                    <div class="t-user-bio">
                        <h4>Jason Doe</h4>
                        <span>User</span>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
<!-- TestimonialSection End-->

<!-- ContactSection Start -->
<section class="contactSection">
    <div class="container">
        <div class="contactTitle text-center">
            <h4>Contact Us</h4>
            <p>Contact us if you have any qusetions and we will contact you. We <br>appreciate users feedback and be sure to take info account your wishes</p>
        </div>
        <div class="contact text-center">
            <form action="#">
                <input type="text" placeholder="Email-Address" class="dinput"><br>
                <input type="text" placeholder="Name" class="ninput left">
                <input type="tel" placeholder="Phone" class="pinput right">
                <textarea name="" id="" cols="30" rows="10" placeholder="Massages" class="tinput"></textarea>
                <button type="submit" class="sinput">Send</button>
            </form>
        </div>
    </div>
</section>
<!-- ContactSection End -->

<!-- FooterSection Start -->

<footer class="footerSection">
    <div class="container">
        <div class="footer text-center">
            <p>&copy; copyright 2020 by ezio auditore da firenze - all rights reserved</p>
        </div>
    </div>
</footer>

<!-- FooterSection End -->
</body>
</html>