*{
    padding: 0;
    margin: 0;
}

.menu{
    background-color: rgb(99, 149, 255);
}
.menu ul{
    text-align: center;
}
.menu ul li{
    display: inline-block;
    margin-left: -4px;
}
.menu ul li a{
    color: #fff;
    padding: 15px 20px;
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
   border-right: 1px solid #fff;
}
.menu ul li:first-child a{
    border-left: 1px solid #fff;
}
.menu ul li:hover > a{
    background-color:rgb(8, 81, 238);
   
}

/* dropdownMenu Start */
.menu ul li{
    position: relative;
}

.menu ul li ul {
    position: absolute;
    left: 0;
    top: 100%;
    padding-left: 1px;
    width: 239px;
    background-color: rgb(99, 149, 255);
    border-top: 1px solid #ddd;
    transition: .8s;
}
.menu ul li ul li{
    display: block;
    margin-left: 0;
}
.menu ul li ul li a{
    display: block;
    border: none;
    border-bottom: 1px solid #dddd;
}

.menu ul ul li:first-child a{
    border-left: none;
}

/* hover part */
.menu ul li ul{
    opacity: 0;
    visibility: hidden;
    transform: scaleY(0);
    transform-origin: top center;
}
.menu ul li:hover ul{
   opacity: 1;
   visibility: visible;
   transform: scaleY(1);
}
.menu ul li ul li a:hover{}

/* Social Menu */

.socialMenu{
   margin-top: 100px;
   
}
.socialMenu ul{
    text-align: center;
}
.socialMenu ul li{
    display: inline-block;
    margin-left: -5px;
}
.socialMenu ul li a{
    height: 100px;
    width: 100px;
    line-height: 100px;
    color: #fff;
    background-color: violet;
    font-size: 40px;
    margin-left: 5px;
    margin-right: 15px;
    display: inline-block;
    border-radius: 50%;
    transition: .8s;
}
.socialMenu ul li a:hover{
    background-color: darkcyan;
}
